body {
  background-color: #ECECEC;
  color: #444444;
  padding: 0;
  margin: 0;
  perspective: 1px;
  height: auto;
  width: auto;
  overflow-x: hidden;
  font-family: 'Roboto';
}

/*BANNER*/
.banner-container {
  position: relative;
  text-align: center;
  color: 38b6ff;
  margin: 15px;
}

.box{
  width: 100%;
  height: 90%;
  object-fit: fill;
}

.top-right-title {
  position: absolute;
  font-family:'Trebuchet MS';
  top: 60px;
  right: 16px;
}

.top-right {
  position: absolute;
  font-family:'Trebuchet MS';
  top: 80px;
  right: 16px;
}
/*Service Buttons from Banner: */
.banner-container img {
  position: relative;
}
/*THE CODE BELOW IS NOT WELL DONE- ran out of time*/

.banner-container .button-circle-window {
  position: absolute;
  left: 55%;
  top: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #38b6ff;
  text-decoration: none; 
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.banner-container .button-circle-tire {
  position: absolute;
  left: 60%;
  top: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #38b6ff;
  text-decoration: none; 
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.banner-container .button-circle-wax {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #38b6ff;
  text-decoration: none; 
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}


/*SERVICES BANNER*/
.services-container{
  background-color: #57585b;
  width: 100%;
  color: #fff;
  padding: .8em 8em;
  z-index: 3;
  min-height: 900px;
}
.container-image {
  position: relative;
}

.container-image:hover .overlay {
  opacity: 0.95;
}

.overlay{
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #303232;
}

.price{
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.service-box{
  color: #fff;
  border: 3px solid #fff;
  padding: .5em 1em;
  background-color: rgba(0,0,0,.2);
  z-index: 10;
  height: 400px;
}
.service-image{
  padding: 0%;
  margin: auto;
  width: 100%;
  object-fit: contain;
}
.row-1-service {
  width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.row-1-service > .col-3-service {
  width: 25%;
  height: 100%;
  float:left;
  padding-right: 10px;
}
/*ABOUT US*/
.aboutus-container{
  margin: 15px;
  
}
.aboutusBody{
  display: flex;
}

.hooverImage{
  height: 300px;
  width: 500px;
  object-fit: fill;
}

/*NAV BAR*/
.left-underline {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.nav-name{
  font-weight: 300;
  color:#ECECEC;
  font-size: 50px;
  
  margin-left: 100px;
}
.nav-address{
  font-weight: 300;
  color:#ECECEC;
  font-size: 10px;
  
  margin-left: 100px;
}

.logo-span{
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  height: 0px;
  width: 60px;
}

.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ECECEC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
  right: 0;
}
div.navbar {
  position: sticky;
  left: 0;
  top: 0;
  height: 115px;
  width: 100%;
  background: #074796;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  z-index: 9999999;
}
div.navbar > ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
div.navbar > ul > li.nav-item {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbar > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbar > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
a.nav-button {
  font-family: 'Roboto';
  text-decoration: none;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(228, 241, 254, 1);
  transition: all 0.5s ease;
}
a.nav-button:hover {
  text-decoration: none;
}
li.active > a.nav-button {
  cursor: default;
}
.brand-logo {
  float: left;
  cursor: default;
}
.parallax {
  height: 70vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.parallax > div.blur-image {
  position: relative;
  width: 100%;
  height: 100%;
} 

.row {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row > .col-3 {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  font-weight: 300;
  font-size: 50%;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background: #074796;
}
.container {
  text-align:right;
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
footer p {
  border-left: 3px solid #ffcdd2;
  padding-left: 15px;
  text-indent: 20px;
  color: #ececec;
}
